<header class="site-header">
    <div class="header-container">
        <div class="site-brand">
            <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </div>
        <nav class="site-nav">
            <ul class="nav-list">
                <li><a href="{{ '/' | relative_url }}">首页</a></li>
                <li><a href="{{ '/announcements/' | relative_url }}">公告</a></li>
                <li><a href="{{ '/decisions/' | relative_url }}">决策公示</a></li>
                <li><a href="{{ '/finance/' | relative_url }}">财务公开</a></li>
                <li><a href="{{ '/projects/' | relative_url }}">项目公示</a></li>
                <li><a href="{{ '/rules/' | relative_url }}">规章制度</a></li>
                <li><a href="{{ '/contact/' | relative_url }}">联系我们</a></li>
                <li><a href="{{ '/areas/' | relative_url }}">小区区域</a></li>
                <li><a href="{{ '/services/' | relative_url }}">便民服务</a></li>
                
                <!-- <li class="dropdown">
                    <a href="{{ '/areas/' | relative_url }}">小区区域</a>
                    <ul class="dropdown-menu">
                        {% for area_id in site.data.areas %}
                        {% assign area = area_id[1] %}
                        <li><a>{{ area.full_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li> -->
            </ul>
        </nav>
    </div>
</header>
